<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Node.js 게시판</title>
        <link rel="stylesheet" href="/css/ui.css">
        <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 1000px;
        }

        .view_btn {
            cursor: pointer;
        }

    </style>
    </head>
    <body>
    <header>
        <% if (id) { %> <div><a href="/logout">로그아웃</a></div> <% } else { %> <div><a href="/login">로그인</a></div> <% } %>
    </header>

    <section class="content">
        <h1>게시판</h1>

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    게시판 페이지
                </h2>
                <div class="ui large form">
                    <div class="ui stacked segment">
                        <a href="/write"><button class="ui fluid large teal submit button">게시글 작성하기</button></a>
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>제목</th>
                                    <th>등록자</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>

                            <tbody id="list">
                                <% for (var i = 0; i < board.length; i++){ %>
                                    <tr>
                                    <td><%= board[i].id %></td>
                                    <td><a href='/detail/<%= board[i].id%>'><%= board[i].title %></a></td>
                                    <td><%= board[i].userId %></td>
                                    <td><%= moment(board[i].date).format('YYYY-MM-DD') %></td>
                                    </tr>
                                <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="ui modal" id='view_modal'>
            <i class="close">x</i>
            <div class="header" id="b_title">
                
            </div>
            <div class="content">
                <div class="description">
                    <p style = "text-align: right" id = "b_review"></p>
                    <div id = 'b_content'></div>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    닫기
                </div>
            </div>
        </div>
       
    </section>

    </body>
</html>